#div1 {
  background-color: darkgray;
  margin-bottom: 70px;
  margin-top: 30px;
}

#profile {
  margin-bottom: 70px;
  margin-left: 3em;
  width: 25em;
}

#aboutMe{
  font-size: 4em;
  font-weight: bold;

}

#melb{
  font-size: 1.5em;

}

#iEnjoy{
  font-size: 1.1em;

}

h1 {
  color: black;
}

h4 {
  color: white;
}

h5 {
  color: black;
}

#projects {
  background-color: rgb(144, 172, 196);
  margin-bottom: 200px;
  padding: 100px;
}

#proTitle {
  color: black;
  margin-bottom: 75px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

#contact {
  background-color: darkgrey;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

body {
  background-color: pink;
}

footer {
  margin-top: 100px;
}
