#div1 {
  margin-bottom: 4em;
  margin-top: 15em;
}

/* old blue: rgb(144, 172, 196); */

#div1 h1 {
  color: black;
  font-size: 5em;
  font-family: "Lato", sans-serif;
}

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(./laptop1E.jpg);
  background-size: cover;
  padding: 15px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

#div1 h1 {
  color: white;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}

#div1 h4 {
  margin-top: 1.5em;
}

#profile img {
  margin-bottom: 5em;
  margin-top: 5em;
  width: 25em;
}

#aboutMe {
  font-size: 4em;
  font-weight: bold;
  margin-top: 1.2em;
}

#melb {
  font-size: 1.5em;
}

#iEnjoy {
  font-size: 1.2em;
}
#resume {
  margin-bottom: 7em;
}

h4 {
  color: white;
}

h5 {
  color: black;
}

.boxColor {
  background-color: rgb(184, 184, 199);
}

#projects {
  padding: 2rem;
}

#proTitle {
  color: black;
  margin-bottom: 1em;
  margin-top: 5em;
}

#skillsTitle {
  margin-bottom: 2em;
  margin-top: 10em;
  justify-content: center;
}

#skills {
  justify-content: center;
  margin-bottom: 10em;
}
#skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: black;
  background: rgb(184, 184, 199);
  list-style: none;
  cursor: default;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 3px;
}

#links {
  justify-content: center;
  margin-bottom: 2em;
}

#links a {
  margin: 2em;
}

#contact {
  border-radius: 75px;
  padding-bottom: 1em;
  margin-top: 4em;
}

.fab {
  color: white;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
}

#icons {
  justify-content: center;
}
#icons li {
  display: inline-block;
  margin: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  color: rgb(43, 41, 41);
}

#topPage {
  justify-content: center;
  color: rgb(184, 184, 199);
  margin-top: 15em;
}

.card-img-top:hover {
  opacity: 0.4;
}

.link:hover {
  opacity: 0.2;
}

footer {
  margin-top: 0;
}
