#div1 {
  background-color: rgb(144, 172, 196);
  margin-bottom: 4em;
  margin-top: 8em;
}

#div1 h1 {
  color: black;
  font-size: 3.5em;
}

#profile {
  margin-bottom: 5em;
  margin-left: 1em;
  margin-top: 5em;
  width: 22em;
}

#aboutMe {
  font-size: 4em;
  font-weight: bold;
  margin-top: 1.2em;
}

#melb {
  font-size: 1.5em;
}

#iEnjoy {
  font-size: 1.2em;
}
#resume {
  margin-bottom: 7em;
}

h4 {
  color: white;
}

h5 {
  color: black;
}

#projects {
  background-color: rgb(144, 172, 196);
  padding: 2rem;
}

#proTitle {
  color: black;
  margin-bottom: 1em;
  margin-top: 5em;
}

#skillsTitle {
  margin-bottom: 2em;
  margin-top: 10em;
  justify-content: center;
}

#skills {
  justify-content: center;
  margin-bottom: 10em;
}
#skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: rgb(144, 172, 196);
  list-style: none;
  cursor: default;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 3px;
}

#links {
  justify-content: center;
  margin-bottom: 2em;
}

#links a {
  margin: 2em;
}

#contact {
  background-color: rgb(144, 172, 196);
  border-radius: 75px;
  padding-bottom: 1em;
  margin-top: 4em;
}

body {
  background-color: pink;
}

#icons {
  justify-content: center;
}
#icons li {
  display: inline-block;
  margin: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  margin-top: 100px;
}
